.scroll-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
}

#whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}

#whatsapp-button img {
  width: 45px; 
  height: 45px; 
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
